.card-wrapper {
	max-width: 90%;
	margin: 0 auto 15px;
}

.card-content {
	padding: 0 !important;
}

.task-title {
	background-color: #1976d2;
	color: white;
	padding: 8px 12px;
	border-radius: 4px 4px 0 0;
	font-size: .9rem;
	user-select: none;
	box-sizing: border-box;
}

.task-description {
	padding: 12px;
	box-sizing: border-box;
    color: rgba(0, 0, 0, 0.6);
}
